.inner {
  outline: 1px dotted #f00;
  width: 900px;
  margin: 0 auto;
}
.rule__content_p {
  display: block;
  margin: 0;
  margin-bottom: 24px;
  width: auto;
  height: auto;
  font-size: 12px;
  font-weight: normal;
  line-height: 19px;
  color: #393734;
}
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}
.wrapper {
  display: block;
  width: 1024px;
  margin: 0 auto;
  padding-top: 10px;
  padding-bottom: 83px;
  background-color: #233543;
}
.main__header {
  padding: 35px 0;
  background-color: #182630;
}
.header__inner {
  outline: 1px dotted #f00;
  width: 900px;
  margin: 0 auto;
}
.main__h1 {
  display: block;
  margin: 0;
  margin-top: 34px;
  font-size: 30px;
  line-height: 20px;
  font-weight: 300;
  color: #fff;
  float: left;
}
.header__list {
  outline: 1px dotted #fff;
  margin: 0;
  padding: 0;
  list-style: none;
  width: 280px;
  float: right;
}
.list__li {
  width: 100%;
  margin-bottom: 1px;
}
.list__li:last-child {
  margin-bottom: 0;
}
.list__a {
  text-decoration: none;
  display: block;
  width: auto;
  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 10px;
  font-size: 12px;
  line-height: 18px;
  text-transform: capitalize;
  background-color: #283742;
  color: #54595d;
}
.list__a:hover {
  background-color: #405260;
  color: #BBBBB4;
}
hr {
  display: none;
}
.main__content {
  outline: 1px dotted #f00;
  width: 900px;
  margin: 0 auto;
  padding-top: 18px;
  padding-bottom: 82px;
}
.content__me {
  outline: 1px dotted #f0f;
  width: 276px;
  height: auto;
  padding-left: 20px;
  float: right;
}
.content {
  display: block;
  width: 556px;
  height: auto;
  padding-left: 20px;
  padding-right: 20px;
  border: 2px solid #fff;
  border-radius: 6px;
  background-color: #EFEADC;
  float: left;
}
.content__post {
  display: block;
  padding-top: 18px;
  padding-bottom: 58px;
  position: relative;
  border-bottom: 1px solid #c4c3ba;
}
.content__post_margin {
  margin-bottom: 18px;
}
.content__p {
  display: block;
  margin: 0;
  margin-bottom: 24px;
  width: auto;
  height: auto;
  font-size: 12px;
  font-weight: normal;
  line-height: 19px;
  color: #393734;
}
.post__a {
  display: inline-block;
  text-decoration: none;
  font-size: 12px;
  font-weight: lighter;
  font-style: italic;
  line-height: 20px;
  color: #182630;
  position: absolute;
  bottom: 20px;
  right: 0;
  cursor: pointer;
  border-bottom: 1px solid #182630;
}
.post__a:hover {
  color: #5F6D77;
  border-color: #5F6D77;
}
.header__post {
  width: auto;
  height: auto;
}
.post__data {
  display: inline-block;
  width: 42px;
  height: auto;
  text-align: center;
  vertical-align: middle;
  border: 1px solid #fff;
  border-radius: 4px;
}
.data__p_header {
  margin: 0;
  padding-top: 6px;
  padding-bottom: 4px;
  font-size: 15px;
  color: #EFEADC;
  background-color: #33404A;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  background: linear-gradient(to right, #4c4c4c 0%, #23303a 0%, #33404a 12%, #33404a 51%, #33404a 92%, #23303a 100%);
}
.data__p_footer {
  margin: 0;
  padding-top: 2px;
  padding-bottom: 4px;
  font-size: 11px;
  color: #676A69;
  background-color: #0E171F;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}
.post__block {
  display: inline-block;
  width: 400px;
  height: auto;
  margin-left: 13px;
  vertical-align: middle;
}
.post__block .post__h2 {
  display: block;
  margin: 0;
  width: 600px;
  font-size: 20px;
  font-weight: normal;
  line-height: 20px;
  color: #233543;
  float: left;
}
.post__block span {
  font-size: 11px;
  font-weight: normal;
  line-height: 18px;
  color: #C6C0B5;
}
.post__page {
  outline: 1px dotted #000;
  width: 200px;
  height: auto;
  margin: 0 auto;
}
