@import "variables.less";

// -------------------------------
//    wrapper
// ------------------------------

.wrapper{
	display: block;
	width: @width1024;
	margin: 0 auto;
	padding-top: 10px;
	padding-bottom: 83px;
	background-color: @background-wrapper;
}

// ------------------------------
